In [2]:
import pandas as pd
import numpy as np

## 1. Quantas casas estão disponíveis para compra?

In [ ]:
print(f"Estão disponíveis para compra: {len(data['id'].unique())} imoveis.")
print(f"Estão disponíveis para compra: {len(data['id'].drop_duplicates())} imoveis.")

## 2. Quantos atributos as casas possuem?

In [ ]:
# Considereando que as Colunas id e date não são atributos das casas
print(f"Os imóveis possuem {len(data.drop(['id', 'date'], axis=1).columns)} atributos")


## 3. Quais são os atributos das casas?

In [ ]:
print(f"Os imóveis possuem os seguintes atributos:\n {data.drop(['id', 'date'], axis=1).columns}")

## 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [ ]:
print(f"{data[['id', 'price']].sort_values('price', ascending=False)}")
casa_id = data[['id', 'price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'id']
casa_valor = data[['id', 'price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'price']
print(f'A casa que possui o maior valor é a de ID: {casa_id} e valor de {casa_valor}')


## 5. Qual a casa com o maior número de quartos?

In [ ]:
print(data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).head())

In [3]:
data = pd.read_csv('kc_house_data.csv')

data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
# 5. Qual a casa com o maior número de quartos?
print(data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0, 'id'])

2402100895

## 6. Qual a soma total de quartos do conjunto de dados?

In [5]:
data['bedrooms'].sum()

72854

## 7. Quantas casas possuem 2 banheiros?

In [6]:
#passos: 
#selecionar as colunas ID e Bathroom
# filtrar somente os ids em que as colunas"bathroom" são iguais a 2
# selecionar colunas "id" e "bathroom"
# contar o numero de valores de coluna "id"

houses = len(data.loc[data['bathrooms'] == 2, ["id", "bathrooms"]])

print(f'O numero de casas que possuem 2 banheiros é: {houses}')

O numero de casas que possuem 2 banheiros é: 1930

## 8. Qual o preço médio de todas as casas no conjunto de dados?

In [7]:
print(sum(data['price']))
print(len(data['price']))

preco_medio = sum(data['price']) / len(data['price'])
print(f'O preço médio dos imóveis é: {preco_medio}')

11672925008.0
21613
O preço médio dos imóveis é: 540088.1417665294

#### Outro método para verificar o preço médio:

In [8]:
#outro método para verificar o preço médio:
# mean do Pandas 
print(data['price'].mean())

# mean do numpy
print(np.round( data['price'].mean(), 2))

540088.1417665294
540088.14

In [9]:
data.dtypes
# verificamos que o 'price' é float. Ele poderia estar como object

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

## 9. Qual o preço médio de casas com 2 banheiros?

In [10]:
np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2) # 2 casas depois da virgula

457889.72

## 10. Qual o preço mínimo entre as casas com 3 quartos?

In [11]:
data.loc[data['bedrooms'] == 3].min()

id                       1200021
date             20140502T000000
price                    82000.0
bedrooms                       3
bathrooms                   0.75
sqft_living                  490
sqft_lot                     572
floors                       1.0
waterfront                     0
view                           0
condition                      1
grade                          4
sqft_above                   490
sqft_basement                  0
yr_built                    1900
yr_renovated                   0
zipcode                    98001
lat                      47.1559
long                    -122.519
sqft_living15                399
sqft_lot15                   651
dtype: object

In [12]:
data.loc[data['bedrooms'] == 3, 'price'].min()

82000.0

## 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [20]:
data['m2'] = data['sqft_living'] * 0.092903 # convertendo pés para metro quadrado

house300 = len(data.loc[data['m2'] > 300, 'id'])

print(f'{house300} casas possuem mais de 300 metros quadrados na sala de estar.')

2258 casas possuem mais de 300 metros quadrados na sala de estar.

## 12. Quantas casas tem mais de 2 andares?

In [25]:
mais_de2_andares = len(data.loc[data['floors'] > 2, 'id'])

print(f'{mais_de2_andares} casas possuem mais de 2 andares.')

782 casas possuem mais de 2 andares.

## 13. Quantas casas tem vista para o mar?

In [30]:
vista_mar = len(data.loc[data['waterfront'] == 1, 'id'])

print(f'{vista_mar} casas possuem vista para o mar.')

163 casas possuem vista para o mar.

## 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [38]:
casa_vista_3quartos = len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), 'id'])

print(f'{casa_vista_3quartos} casas possuem vista para o mar e 3 quartos.')

64 casas possuem vista para o mar e 3 quartos.

## 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?'''

In [41]:
casa_300_2banheiros = (data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2), 'id']).size

print(f'{casa_300_2banheiros} casas com mais de 300 metros quadrados de sala de estar tem mais de 2 banheiros.abs')

2201 casas com mais de 300 metros quadrados de sala de estar tem mais de 2 banheiros.abs