### Import Libraries

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns

### Loading Data

In [1]:
%pwd

'C:\\Users\\Felipe\\Documents\\Projetos\\Data Science\\Python do ZERO ao DS\\3. Transformação de Dados I - Básico'

In [10]:
# loading data into memory
data = pd.read_csv('C:/Users/Felipe/Documents/Projetos/Data Science/Python do ZERO ao DS/3. Transformação de Dados I - Básico/kc_house_data.csv')

# Garantir que o formato DATE é um DATETIME
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

In [11]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1. Qual a média do preço de compra dos imóveis por “Nível”?
#### - Nível 0 -> Preço entre 0 e  321.950
#### - Nível 1 -> Preço entre 321.950 e 450.000
#### - Nível 2 -> Preço entre 450.000 e 645.000
#### - Nível 3 -> Acima de 645.000

In [ ]:
for i in range(len(data)):
    if data.loc[i, 'price'] > 0 & data.loc[i, 'price'] <= 321950:
        data.loc[i, 'nivel'] = 'nivel_0'