In [2]:
import pandas as pd

In [3]:
data = pd.read_csv( '/Users/Felipe/Documents/Projetos/Data Science/Python do ZERO ao DS/2. Extração e Manipulação de Dados/kc_house_data.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [12]:
data[data['bedrooms'] == 0].shape

(13, 21)

In [14]:
print( data[ data[ 'bedrooms' ] == 0 ].shape )
print( data[ data[ 'bedrooms' ] == 1 ].shape )
print( data[ data[ 'bedrooms' ] == 2 ].shape ) 
print( data[ data[ 'bedrooms' ] == 3 ].shape )
print( data[ data[ 'bedrooms' ] == 4 ].shape )

(13, 21)
(199, 21)
(2760, 21)
(9824, 21)
(6882, 21)

In [20]:
df_grouped = data[['id','bedrooms']].groupby('bedrooms').size()

In [21]:
for bedrooms, frame in df_grouped:
    print('numero de quartos: {}'.format(bedrooms))
    print(frame.shape, end='\n\n')

TypeError: cannot unpack non-iterable int object

## 1. Qual o número de imóveis por ano de construção?

In [8]:
data[['id', 'yr_built']].groupby('yr_built').count()

           id
yr_built
1900       87
1901       29
1902       27
1903       46
1904       45
...       ...
2011      130
2012      170
2013      201
2014      559
2015       38

[116 rows x 1 columns]

## 2. Qual o menor número de quartos por ano de construção dos imóveis?

In [14]:
data[['yr_built', 'bedrooms']].groupby('yr_built').min()

          bedrooms
yr_built
1900             1
1901             2
1902             2
1903             1
1904             2
...            ...
2011             1
2012             2
2013             2
2014             1
2015             1

[116 rows x 1 columns]