In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\felipe\anaconda3\lib\site-packages (1.1.3)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\felipe\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\felipe\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\felipe\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\felipe\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### 0. Imports

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv( '/Users/Felipe/Documents/Projetos/Data Science/Python do ZERO ao DS/2. Extração e Manipulação de Dados/kc_house_data.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1. Crie uma nova coluna chamada: “house_age”
#### • Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
#### • Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [5]:
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d')
data['house_age'] = data['date'].apply( lambda linha: 'new_house' if linha>pd.to_datetime( '2014-01-01', format='%Y-%m-%d') else 'old_house')

In [6]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,new_house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,new_house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,new_house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house

In [7]:
type(pd.to_datetime( '2014-01-01', format='%Y-%m-%d')) # converter para o formato de data --> inserir acima na função lambda

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
house_age                object
dtype: object

## 2. Crie uma nova coluna chamada: “dormitory_type”
    
### Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
### Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
### Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [9]:
data['dormitory_type'] = 'NA'
# data.loc[1, 'bedrooms'] #teste

In [10]:
for cont in range(len(data)):
    if data.loc[cont, 'bedrooms'] == 1:
        data.loc[cont, 'dormitory_type'] = 'studio'
    elif data.loc[cont, 'bedrooms'] == 2:
        data.loc[cont, 'dormitory_type'] = 'apartment'
    elif data.loc[cont, 'bedrooms'] > 2:
        data.loc[cont, 'dormitory_type'] = 'house'
    else: data.loc[cont, 'dormitory_type'] = 'NA'

In [11]:
np.unique( data['dormitory_type'])

array(['NA', 'apartment', 'house', 'studio'], dtype=object)

## 3. Crie uma nova coluna chamada: “condition_type”
### Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
### Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
### Se o valor da coluna “condition” for igual à 5 => ‘good’

In [12]:
data["condition_type"] = 'NA'

In [13]:
for cont in range( len(data)):
    if data.loc[cont, "condition"] <= 2:
        data.loc[cont,"condition_type"] = 'bad'
    elif data.loc[cont, "condition"] == 3 or data.loc[cont, "condition"] == 4:
        data.loc[cont,"condition_type"] = 'regular'
    elif data.loc[cont, "condition"] == 5:
        data.loc[cont,"condition_type"] = 'good'

In [14]:
np.unique(data["condition_type"])

array(['bad', 'good', 'regular'], dtype=object)

In [15]:
data[['condition', 'condition_type']]

       condition condition_type
0              3        regular
1              3        regular
2              3        regular
3              5           good
4              3        regular
...          ...            ...
21608          3        regular
21609          3        regular
21610          3        regular
21611          3        regular
21612          3        regular

[21613 rows x 2 columns]

## 4. Modifique o TIPO a Coluna “condition” para STRING

In [16]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                  int64
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
sqft_living15              int64
sqft_lot15                 int64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

In [17]:
data['condition'] = data['condition'].astype(str)

In [18]:
data[['id', 'condition']].dtypes

id            int64
condition    object
dtype: object

## 5. Delete as colunas: “sqft_living15” e “sqft_lot15”

In [19]:
data = data.drop(['sqft_living15', 'sqft_lot15'], axis=1) #axis=1 indica que serão deletadas as Colunas

In [20]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,new_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,new_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,new_house,apartment,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,new_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,new_house,house,regular

## 6. Modifique o TIPO a Coluna “yr_built” para DATE

In [21]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )
# pd.to_datetime( data['yr_built'], format='%Y' ).dt.year

In [22]:
#data['yr_built'].dtype

data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

## 7. Modifique o TIPO a Coluna “yr_renovated” para DATE

In [44]:
# pd.unique(data["yr_renovated"])
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime('1900-01-01', format='%Y-%m-%d') if x == 0 else
                                                             pd.to_datetime(x, format='%Y'))

In [25]:
#data['yr_renovated'].dtypes
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated      datetime64[ns]
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

## Qual a data mais antiga de construção de um imóvel?

In [34]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955-01-01,1970-01-01,98178,47.5112,-122.257,new_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951-01-01,1991-01-01,98125,47.7210,-122.319,new_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933-01-01,1970-01-01,98028,47.7379,-122.233,new_house,apartment,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965-01-01,1970-01-01,98136,47.5208,-122.393,new_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987-01-01,1970-01-01,98074,47.6168,-122.045,new_house,house,regular

In [35]:
data['yr_built'].min().year

1900

## 9. Qual a data mais antiga de renovação de um imóvel?

In [45]:
data['yr_renovated'].min().year

1934

In [47]:
data.loc[data['yr_renovated'] > pd.to_datetime( '1900-01-01', format='%Y-%m-%d' ), 'yr_renovated'].min().year

1934

## 10. Quantos imóveis tem 2 andares?

In [53]:
data.loc[data['floors'] == 2, 'id'].size

8241

## 11. Quantos imóveis estão com a condição igual a “regular” ?

In [54]:
data.loc[data['condition_type'] == 'regular', 'id'].size

19710

## 12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [67]:
data.loc[(data['waterfront'] == 1 ) & (data['condition_type'] == 'bad'), 'id'].size

2

## 13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [70]:
data.loc[ (data['condition_type'] == 'good') & (data['house_age'] == 'new_house'), 'id'].size

1701

## 14. Qual o valor do imóvel mais caro do tipo “studio” ?

In [ ]:
pd.unique()

## 15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

## 16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?

## 17. Quantos imóveis “new_house” foram reformados no ano de 2014?

## 18. Selecione as colunas: “id”, “date”, “price”, “fl oors”, “zipcode” pelo método:
### Direto pelo nome das colunas.
### Pelos Índices.
### Pelos Índices das linhas e o nome das colunas
### Índices Booleanos

## 19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.

## 20. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

Novas perguntas do CEO para vocês

1. Crie uma nova coluna chamada: “house_age”
• Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
• Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’


2. Crie uma nova coluna chamada: “dormitory_type”
    
• Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
• Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
• Se o valor da coluna “bedrooms” for maior que 2 => ‘house’


3. Crie uma nova coluna chamada: “condition_type”
• Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
• Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
• Se o valor da coluna “condition” for igual à 5 => ‘good’


4. Modifi que o TIPO a Coluna “condition” para STRING


5. Delete as colunas: “sqft_living15” e “sqft_lot15”
    
    
6. Modifique o TIPO a Coluna “yr_build” para DATE


7. Modifique o TIPO a Coluna “yr_renovated” para DATE


8. Qual a data mais antiga de construção de um imóvel?


9. Qual a data mais antiga de renovação de um imóvel?


10. Quantos imóveis tem 2 andares?


11. Quantos imóveis estão com a condição igual a “regular” ?


12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?


13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?


14. Qual o valor do imóvel mais caro do tipo “studio” ?


15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?


16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?


17. Quantos imóveis “new_house” foram reformados no ano de 2014?


18. Selecione as colunas: “id”, “date”, “price”, “fl oors”, “zipcode” pelo método:
• Direto pelo nome das colunas.
• Pelos Índices.
• Pelos Índices das linhas e o nome das colunas
• Índices Booleanos


19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.


20. Modifi que a cor dos pontos no mapa de “pink” para “verde-escuro”